{% extends 'main/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/location.css' %}">
{% endblock extrahead %}
{% block content %}
{% if user.is_authenticated %}
<center>

    {% if submitted %}
    <h1>Vaša Lokacija Je Dodata Uspešno!!!</h1>

    {% else %}
    <h1>Dodajte Lokaciju</h1>
    <br><br>
    <div class="form__card">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Dodajte Lokaciju" class="button_add_location">
        </form>
    </div>


    {% endif %}
</center>
{% else %}
<h1>Morate biti prijavljeni da biste videli ovu stranicu...</h1>

<a class="login__btn" href="{% url 'login_user' %}">Prijavite se</a>
{% endif %}

{% endblock content %}